* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(/src/loginbg.jpg);
}

#heading {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.container {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
}

.form {
  display: none;
  padding: 20px;
}

.form.active {
  display: block;
}

.form-toggle {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px;
  margin: 10px;
  
  background-color: #eac9c9;
}

button {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: #8a1741;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #d34e93;
}
#loginbtn, #registerbtn, .form-container h2{
  display: flex;
  justify-content: center; 
  align-items: center;   
}
input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#error-message {
  color:maroon;
  font-size: 14px;
  text-align: center;
}